<html>
<head>
	<script type="text/javascript"></script>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
<h1> Edit <%= pet.name %>: </h1>
<form action="/pets/<%= pet.id %>" method="post">
	<label>Pet Name:
	<input type="text" name="name" value="<%= pet.name %>">
	</label><br>
	<label>Pet Type:
	<input type="text" name="type" value="<%= pet.type %>">
	</label><br>
	<label>Description:
	<input type="text" name="description" value="<%= pet.description %>">
	</label><br>
	<label>Skills: <br/>
		<label>Skill 1:
		<input type="text" name="skill_1" value="<%= pet.skills[0] %>">
		</label><br>
		<label>Skill 2:
		<input type="text" name="skill_2" value="<%= pet.skills[1] %>">
		</label><br>
		<label>Skill 3:
		<input type="text" name="skill_3" value="<%= pet.skills[2] %>">
		</label>
	</label><br>
	<input class=" btn btn-success" type="submit" value="Edit"> | <a href="/" class="btn btn-secondary">Cancel</a>
</form>

</body>
</html>