<html>
<head>
	<script type="text/javascript"></script>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
<h1>Pet Shelter</h1>
<h2>These pets are looking for a home!</h2>
<% if(messages.length) { %>
	<% for (var x of messages.length) { %>
	<h3><%= x %></h3>
	<% } %>
<% } %>
<a href="/new">Add a pet to the shelter</a>
<table class="table">
	<tr>
		<th>Name</th>
		<th>Type</th>
		<th>Actions</th>
	</tr>
	<% for(var pet of pets){ %>
		<tr>
			<th><%= pet.name %></th>
			<th><%= pet.type %></th>
			<th><a href="/pets/<%= pet.id %>">Details</a> | <a href="/pets/<%= pet.id %>/edit">Edit</a></th>
		</tr>
	<% } %>
</table>
</body>
</html>